# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/github-deploy.key
/github-deploy.key.pub
# Template config files
/cluster.toml
# Kubernetes
kubeconfig
talosconfig
# Misc.
.claude/
.private/
.venv/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
