---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_TAILSCALE_OAUTH_CLIENT_ID: "#{ tailscale.oauth_client_id }#"
  SECRET_TAILSCALE_OAUTH_CLIENT_SECRET: "#{ tailscale.oauth_client_secret }#"
